.Chat {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
  gap: 10px;
  width: calc(100% - 10px);
  cursor: pointer;
  transition: 0.2s all;
  min-height: 70px;
  border: 1px solid transparent;
  color: white;
  border-bottom: 1px solid var(--BorderColors);
  position: relative;
}
.Chat:hover,
.ActiveChat {
  border: 1px solid var(--BorderColors);
  border-radius: 15px;
  width: calc(100% - 25px);
  margin: 10px;
}
.ProfilePic-wrapper {
  position: relative;
}
.Activity {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--BorderColors);
}
.Chat .ProfilePic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.Chat .Details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.Chat .Details .Person {
  font-weight: bolder;
  font-size: 1rem;
}

.Chat .Details .LastText,
.Chat .Details .Person-Date-wrapper .Date {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  font-size: 0.7rem;
  opacity: 0.7;
  width: 80%; /* Set the container width to the desired width */
  white-space: nowrap; /* Prevent the text from wrapping */
  overflow: hidden; /* Hide the overflowing text */
  text-overflow: ellipsis; /* Display ellipsis (...) for the overflowed text */
}
.Chat .Details .Person-Date-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.Chat .Details .Person-Date-wrapper .Date {
  width: fit-content;
}
.Chat .UnreadCount {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--BorderColors);
  border-radius: 50%;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 35px;
  right: 10px;
}
.Chat .UnreadCount .Number {
  color: black;
  font-weight: 600;
}
